[submodule "BuildProcess"]
	path = BuildProcess
	branch = master
	url = https://github.com/effanville/BuildProcess.git
[submodule "Common"]
	path = Common
	url = https://github.com/effanville/Common
[submodule "FinancialStructures"]
	path = FinancialStructures
	url = https://github.com/effanville/FinancialStructures
