{
  "SolutionName": "FinancePortfolioDatabase",
  "ExecutablePublishProjects": [
    "FPD.UI",
    "FPD.Console"
  ],
  "NugetPackageProjects": [
    "FinancialStructures"
  ],
  "BuildConfiguration": "Release",
  "Framework": "net10.0-windows",
  "Runtime": "win-x64",
  "PublishDir": "../Publish"
}