{
  "SolutionName": "FinancePortfolioDatabase",
  "ExecutablePublishProjects": [
    {
      "FolderName": "FPD.UI",
      "ProjectName": "FPD.UI"
    },
    {
      "FolderName": "FPDConsole",
      "ProjectName": "FPDConsole"
    }
  ],
  "NugetPackageProjects": [
    {
      "FolderName": "FinancialStructures",
      "ProjectName": "FinancialStructures"
    }
  ],
  "SolutionFileName": "FinancePortfolioDatabase.sln",
  "DefaultBuildConfiguration": "Release",
  "DefaultFramework": "net6.0-windows",
  "DefaultRuntime": "win-x64",
  "DefaultPublishDir": "../Publish"
}